<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'nonce-${nonce}';">
    <link rel="stylesheet" href="${tmplPath}/css/preview.css">
</head>

<body class="dragscroll">
    <div id="image-container" style="margin: 10px;">
        <img id="image" src="">
        ${svgText}
    </div>
    <div id="ctrl-container">
        <div id="controls">
            <button class="btn" id="btnZoomOut">
                <i class="material-icons">zoom_out</i>
            </button>
            <button class="btn" id="btnZoomToggle">
                <i id="icon-toggle" class="material-icons">fullscreen</i>
                <!-- <i class="material-icons">fullscreen_exit</i> -->
            </button>
            <button class="btn" id="btnZoomIn">
                <i class="material-icons">zoom_in</i>
            </button>
        </div>
    </div>
    <div style="display: none">
        <div id="images" style="border: 1px black solid">
            ${svgText}
        </div>
        <a id="sendStatus" href=""></a>
        <p id="status">${status}</p>
    </div>
    <script nonce="${nonce}" src="${tmplPath}/js/dragscroll.js"></script>
    <script nonce="${nonce}" src="${tmplPath}/js/zoom.js"></script>
    <script nonce="${nonce}" src="${tmplPath}/js/preview.js"></script>
    <script nonce="${nonce}" src="${tmplPath}/js/cursor.js"></script>
    <script nonce="${nonce}" src="${tmplPath}/js/selectionZoom.js"></script>
    <script nonce="${nonce}" src="${tmplPath}/js/clickEvent.js"></script>
</body>

</html>